.task-list {
  //   display: flex;
  //   gap: 10px;
  .btn-view {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 16px;
    color: #222831;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #ffdb5c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: height 1s ease;
  }
}
