.login-modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);

  .login-modal-content {
    background-color: #ffdb5c;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    color: #222831;
    .form-group {
      margin-bottom: 15px;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }

    h2 {
      margin-top: 0;
    }

    input {
      width: calc(100% - 20px);
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      padding: 10px 20px;
      margin-top: 10px;
      background-color: #9dde8b;
      color: #222831;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 100px;
      transition: 0.5s;
      &:hover {
        background-color: #83d36d;
        transition: 0.5s;
      }
    }
  }
}
