h1 {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
  font-family: Inter;
  font-size: 30px;
  font-weight: 900;
  line-height: 38.73px;
  text-align: left;

  color: #974a4a;
}

.container {
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

.survey-list {
  width: 100%;
  max-width: 800px;
  // background-color: #f9f9f9;
  border-radius: 8px;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 auto;
}

.survey-item {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.survey-question {
  margin-bottom: 10px;
}

.survey-options {
  list-style: none;
  padding: 0;
}

.survey-options li {
  margin-bottom: 10px;
}

.survey-answer {
  background-color: #e7f3e7;
  padding: 10px;
  border-radius: 4px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #ffd700;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e6be00;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttons .author,
.buttons .error {
  background-color: #ffd700;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.buttons .author:hover,
.buttons .error:hover {
  background-color: #e6be00;
}
